<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
       {% block stylesheets %}
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <div class="flex flex-col h-screen">
    
        
        <header class="bg-purple-500">
            <div class="flex flex-row justify-between items-center top-floor h-20 border-b-2 bg-opacity-70">
                <ul class="flex flex-row justify-between text-lg ml-10 mr-10 mt-10 w-1/5 text-red-50 text-base h-full w-full">
                    <li>
                        <div>
                            <ul class="flex flex-row">
                                <li class="mr-5">
                                    <a class = "mt-8"href="{{ path('about') }}">О проекте</a><br>
                                </li>
                                
                                <li>
                                    <a class = "mt-8"href="{{ path('home') }}">Главная</a><br>
                                </li>
                            </ul>
                        <div>
                    </li>
                    <li class="w-auto">
                        {% if (app.user) %}
                        <ul class="flex flex-row">
                            <li class="w-auto  ml-5">
                                Добрый день, {{ app.user.username }} 
                            </li>
                            
                            {% if is_granted('ROLE_ADMIN') %}
                            <li class="w-auto  ml-5">
                                <a href="{{ path('admin_home') }}">Админ панель</a>
                            </li>
                            {% endif %}

                            <li class="w-auto  ml-5">
                                <a href="{{ path('app_logout') }}">Выйти</a>
                            </li>
                            
                        </ul>
                        {% else %} 
                        <ul class="flex flex-row">
                            <li class="w-auto ml-5">
                                <a href="{{ path('app_login') }}">Войти</a><br></li>
                            </li>
                            <li class="w-auto ml-5">
                                <a href="{{ path('signup') }}">Регистрация</a><br></li>
                            </li>
                         </ul>
                        {% endif %}
                    </li>
            </div>
            </header>
            
            {% block body %}
            <h1>
                {{ title }}
            </h1>
            <a class = "bg-green-700 border-b text-center no-underline inline-block text-base text-white" 
    href="{{ path('question') }}">Задать вопрос</a>
    <br>
            {% endblock %}
         </div>
    </body>
</html>
