{% extends 'main/base.html.twig' %}

{% block body %}
    <a class = "bg-green-700 border-b text-center no-underline inline-block text-base text-white" 
    href="{{ path('admin_create_question') }}">Создать вопрос</a>
    <br>
    <div class="container flex flex-col justify-left ml-5 w-full border">
        <br>
        {% for message in app.flashes('success') %}
            {{ message }}
        {% endfor %}
        <ul>
            {% for question in questions %}
                <li>
                    <div class="bg-gray-100 p-2 flex-grow border break-words">
                        <h1 class="font-medium">id:</h1> {{ question.id }} <br>
                        <h1 class="font-medium">Заголовок:</h1> {{ question.title }} <br>
                        <h1 class="font-medium">Текст вопроса:</h1> {{ question.content }} <br>
                        <h1 class="font-medium">Опубликовано:</h1> {{ question.CreatedAt|date('Y-m-d H:i') }} <br>
                        <h1 class="font-medium">Изменено:</h1> {{ question.UpdateAt|date('Y-m-d H:i') }} <br>
                        <a href="{{ path('admin_update_question', {'id': question.id}) }}"
                        class="bg-green-700 border-b text-center no-underline inline-block text-base text-white">
                            Редактировать
                        </a>
                        <a href="{{ path('admin_delete_question', {'id': question.id}) }}"
                        class="bg-red-700 border-b text-center no-underline inline-block text-base text-white">
                            Удалить
                        </a>
                        
                    </div>
                </li>
            {% endfor %}
        </ul> 
    </div>

{% endblock %}